@import "../../layout/layout.module.scss";
.container {

  margin-left: 20px;
  margin-top: 10px;
  .title_Menu {
    color: $secondary_color;
    font-weight: 700;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
  }
  .container_items {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
}
