@import "../../layout/layout.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
.slide {
  position: relative;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  box-sizing: border-box;
  .poster {
    box-shadow: inset 260px 0px 50px 0px rgba(0, 0, 0, 0.5);
    display: inline-block;

    &:hover img {
      transform: scale(1.1);
    }
    .image {
      border-radius: 15px;
      display: block;
      z-index: -1;
      transition: 1s ease-in-out;
      box-sizing: border-box;
    }
  }

  .content {
    position: absolute;
    left: 10px;
    bottom: 30px;
    max-width: 300px;
    display: block;



    .title {
      color: $color_hover;
      font-size: 50px;
      font-weight: 400;
      font-family: "Inspiration", cursive;
    }
    .subtitle {
      color: white;
      font-size: 20px;
      font-family: "Oleo Script Swash Caps", cursive;

      &::before {
        content: "«";
      }
      &::after {
        content: "»";
      }
    }
    .button {
      margin-left: 10%;
      background-color: $mail_color;
      border-radius: 5px;
      cursor: pointer;
      border: $secondary_color solid 2px;
      color: $secondary_color;
      font-weight: 400;
      font-family: "Oleo Script Swash Caps", cursive;
      font-size: 18px;
      padding: 3px 15px;
    }
  }
}

@media (max-width: $width_tablet) {
  .slide {
    .content {
      .title {
        font-size: 30px;
      }
      .subtitle {
        font-size: 14px;
      }
      .button {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: $width_telephone) {
  .slide {
    display: none;
  }
}
