.author_edit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  .field {
    width: 32%;
  }
}
.update {
  position: absolute;
  bottom: 40%;
  margin: 0px 15px;
  max-width: 150px;
}
.select {
  display: flex;

  margin: 10px 25px;
  align-items: flex-start;
  height: 150px;
  justify-content: center;
  .react_select {
    width: 40%;
    margin-right: 5%;
  }
  .image {
    width: 33%;
  }
}
