.author_edit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  .field {
    width: 33%;
    min-width: 270px;
    margin-bottom: 20px;
  }
}
.update {
  margin-top: 80px;
  margin-left: 15px;
  max-width: 150px;
}
.select {
  margin: 10px 25px;
  align-items: flex-start;
  height: 150px;

  .react_select {
    width: 40%;
    margin-right: 5%;
  }
  .image {
    width: 33%;
  }
}
