.book_edit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  .field {
    margin-bottom: 20px;
    width: 32%;
    min-width: 270px;
  }
  .image {
    display: flex;
    width: 80%;
    align-items: center;
    height: 150px;

    .poster {
      border-radius: 10px;
      margin-left: 20px;
    }
  }
}
.update {
  display: block;
  margin: 0px 20px;
  max-width: 150px;
}
