@import "../../layout/layout.module.scss";
.select {
  .placeholder {
    display: block;
    font-size: 24px;
    color: $secondary_color;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

@media (max-width: $width_tablet) {
  .select {
    .placeholder {
      font-size: 20px;
    }
  }
}
@media (max-width: $width_telephone) {
  .select {
    .placeholder {
      font-size: 16px;
    }
  }
}
